In [1]:
# importing libraries
import pandas as pd
import json

In [2]:
df = pd.read_csv("movies_metadata.csv")
df

/var/folders/20/3yg6fdqn0q37hmd96kcp0czh0000gn/T/ipykernel_73484/1441118834.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_metadata.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [3]:
collection = []

for ele in df["belongs_to_collection"]:
    try:
        if pd.isnull(ele):
            collection.append(None)
        else:
            
            collection.append(json.loads(ele.replace("'",'"'))['name'])
    except:
        collection.append(None)

In [4]:
genres = []
for ele in df["genres"]:
    try:
        if pd.isnull(ele):
            genres.append([])
        else:
            _ = json.loads(ele.replace("'",'"'))
            names = list(map(lambda item: item['name'], _))
            genres.append(names)
    except:
        genres.append([])

In [5]:
df.drop(columns=["belongs_to_collection","genres"], axis=1, inplace=True)
df["collection"] = collection
df["genres"] = genres

In [6]:
df_ = df[["original_title","release_date","collection","genres"]]

In [118]:
df_

,original_title,release_date,collection,genres
0,Toy Story,1995-10-30,Toy Story Collection,"[Animation, Comedy, Family]"
1,Jumanji,1995-12-15,None,"[Animation, Comedy, Family]"
2,Grumpier Old Men,1995-12-22,Grumpy Old Men Collection,"[Animation, Comedy, Family]"
3,Waiting to Exhale,1995-12-22,None,"[Animation, Comedy, Family]"
4,Father of the Bride Part II,1995-02-10,Father of the Bride Collection,"[Animation, Comedy, Family]"
...,...,...,...,...
45461,رگ خواب,NaN,None,"[Animation, Comedy, Family]"
45462,Siglo ng Pagluluwal,2011-11-17,None,"[Animation, Comedy, Family]"
45463,Betrayal,2003-08-01,None,"[Animation, Comedy, Family]"
45464,Satana likuyushchiy,1917-10-21,None,"[Animation, Comedy, Family]"
45465,Queerama,2017-06-09,None,"[Animation, Comedy, Family]"

## lets build a chat

In [119]:
df_

,original_title,release_date,collection,genres
0,Toy Story,1995-10-30,Toy Story Collection,"[Animation, Comedy, Family]"
1,Jumanji,1995-12-15,None,"[Animation, Comedy, Family]"
2,Grumpier Old Men,1995-12-22,Grumpy Old Men Collection,"[Animation, Comedy, Family]"
3,Waiting to Exhale,1995-12-22,None,"[Animation, Comedy, Family]"
4,Father of the Bride Part II,1995-02-10,Father of the Bride Collection,"[Animation, Comedy, Family]"
...,...,...,...,...
45461,رگ خواب,NaN,None,"[Animation, Comedy, Family]"
45462,Siglo ng Pagluluwal,2011-11-17,None,"[Animation, Comedy, Family]"
45463,Betrayal,2003-08-01,None,"[Animation, Comedy, Family]"
45464,Satana likuyushchiy,1917-10-21,None,"[Animation, Comedy, Family]"
45465,Queerama,2017-06-09,None,"[Animation, Comedy, Family]"

## Create a analysis agent

In [137]:
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent
from langchain.agents import AgentType
from langchain_openai import ChatOpenAI
import pandas as pd
import numpy as np

In [138]:
llm = ChatOpenAI(
    model='gpt-4o-mini',
    verbose=True
)

In [148]:
agent = create_pandas_dataframe_agent(
    llm,
    df = df_,
    verbose=False,
    allow_dangerous_code=True,
    agent_type=AgentType.OPENAI_FUNCTIONS   
)
print("Data Analysis Agent is ready. You can now ask questions about the data.")

Data Analysis Agent is ready. You can now ask questions about the data.

In [149]:
def ask_agent(question):
    """Function to ask questions to the agent and display the response"""
    response = agent.run({
        "input": question,
        "agent_scratchpad": f"Human: {question}\nAI: To answer this question, I need to use Python to analyze the dataframe. I'll use plotly library if the question needs any vizualization, I'll use the python_repl_ast tool.\n\nAction: python_repl_ast\nAction Input: ",
    })
    print(f"Question: {question}")
    print(f"Answer: {response}")
    print("---")

In [150]:
ask_agent("what are the column names of in this dataset, show in tabular form")

Question: what are the column names of in this dataset, show in tabular form
Answer: Here are the column names of the dataset in tabular form:

| Column Names      |
|-------------------|
| original_title    |
| release_date      |
| collection        |
| genres            |
---

In [146]:
ask_agent("I want to see number of games released in latest 5 years")

> Entering new AgentExecutor chain...

Invoking: `python_repl_ast` with `{'query': "import pandas as pd\nfrom datetime import datetime\n\n# Convert the release_date column to datetime format\ndf['release_date'] = pd.to_datetime(df['release_date'])\n\n# Get the current date\ncurrent_date = datetime.now()\n\n# Calculate the cutoff date for the last 5 years\ncutoff_date = current_date.replace(year=current_date.year - 5)\n\n# Filter the dataframe for games released in the last 5 years\nrecent_games = df[df['release_date'] >= cutoff_date]\n\n# Get the number of recent games\nnum_recent_games = recent_games.shape[0]\nnum_recent_games"}`


ValueError: time data "1" doesn't match format "%Y-%m-%d", at position 10395. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.
Invoking: `python_repl_ast` with `{'query': "# First, let's check the data types and a few entries in the release_date column to understand the issue\nprint(df['release_date'].dtype)\nprint(df['release_date'].head(10))"}`


object
0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
5    1995-12-15
6    1995-12-15
7    1995-12-22
8    1995-12-22
9    1995-11-16
Name: release_date, dtype: object

Invoking: `python_repl_ast` with `{'query': "# It seems like the release_date column is of dtype object. Let's convert it to datetime format using the correct format.\ndf['release_date'] = pd.to_datetime(df['release_date'], errors='coerce')\n\n# Check for any conversion errors\nconversion_errors = df[df['release_date'].isna()]\nconversion_errors_count = conversion_errors.shape[0]\nconversion_errors_count"}`


90

<string>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Invoking: `python_repl_ast` with `{'query': "# Now, let's drop the rows with conversion errors and re-calculate the number of games released in the last 5 years.\ndf_cleaned = df.dropna(subset=['release_date'])\n\n# Get the current date\ncurrent_date = datetime.now()\n\n# Calculate the cutoff date for the last 5 years\ncutoff_date = current_date.replace(year=current_date.year - 5)\n\n# Filter the cleaned dataframe for games released in the last 5 years\nrecent_games = df_cleaned[df_cleaned['release_date'] >= cutoff_date]\n\n# Get the number of recent games\nnum_recent_games = recent_games.shape[0]\nnum_recent_games"}`


1There has been 1 game released in the latest 5 years according to the data in the dataframe.

> Finished chain.
Question: I want to see number of games released in latest 5 years
Answer: There has been 1 game released in the latest 5 years according to the data in the dataframe.
---

In [7]:
df_.to_csv("movies_meta.csv", index=False)